<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <link rel="shortcut icon" href="assets/images/favicon.ico">

  <!-- Bootstrap Css -->
  <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
  <style>
  
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
</head>

<body data-sidebar="dark">

  <!-- <body data-layout="horizontal" data-topbar="dark"> -->

      <!-- Begin page -->
      <div id="layout-wrapper">

        <header id="page-topbar">
          <div class="navbar-header">
              <div class="d-flex">
                  <!-- LOGO -->
                  <div class="navbar-brand-box">
                      <a href="/creator-dashboard" class="logo logo-dark">
                          <!-- <span class="logo-sm">
                            <img src="app/images/logo.svg" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="app/images/logo-dark.png" alt="" height="17">
                        </span> -->
                      </a>

                      <a href="/creator-dashboard" class="logo logo-light">
                          <span class="logo-sm">
                              <img src="app/images/logo-light.svg" alt="" height="22">
                          </span>
                          <span class="logo-lg">
                              <img src="app/images/logo-light.png" alt="" height="19">
                          </span>
                      </a>
                  </div>

                  <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect"
                      id="vertical-menu-btn">
                      <i class="fa fa-fw fa-bars"></i>
                  </button>

                  <!-- App Search-->
                  <form class="app-search d-none d-lg-block ">
                      <div class="position-relative">
                          <input type="text" class="form-control" placeholder="Search...">
                          <span class="bx bx-search-alt"></span>
                      </div>
                  </form>
              </div>

              <div class="d-flex">

                  <div class="dropdown d-inline-block d-lg-none ms-2">
                      <button type="button" class="btn header-item noti-icon waves-effect"
                          id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="mdi mdi-magnify"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                          aria-labelledby="page-header-search-dropdown">

                          <form class="p-3">
                              <div class="form-group m-0">
                                  <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Search ..."
                                          aria-label="Recipient's username">
                                      <div class="input-group-append">
                                          <button class="btn btn-primary" type="submit"><i
                                                  class="mdi mdi-magnify"></i></button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>

                  <div class="dropdown d-inline-block">
                      <button type="button" class="btn header-item waves-effect" aria-haspopup="true"
                          aria-expanded="false">
                          <img id="header-lang-img" src="/app/images/kenya.jpeg" alt="Kenya" height="16">
                      </button>

                  </div>

                  <div class="dropdown d-none d-lg-inline-block ms-1">
                      <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="bx bx-customize"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                          <div class="px-lg-2">
                              <div class="row g-0">
                                  <div class="col">
                                      <a class="dropdown-icon-item" href="/chats">
                                          <img src="app/images/chat.jpeg" alt="Chats">
                                          <span>Chats</span>
                                      </a>
                                  </div>
                                  <div class="col">
                                      <a class="dropdown-icon-item" href="/profile-creator">
                                          <img src="app/images/profile.jpeg" alt="Profile">
                                          <span>Profile</span>
                                      </a>
                                  </div>
                                  <div class="col">
                                      <a class="dropdown-icon-item" href="/wallet-creator">
                                          <img src="app/images/transaction.jpeg" alt="Transactions">
                                          <span>Wallet</span>
                                      </a>
                                  </div>
                              </div>

                              <div class="row g-0">
                                  <div class="col">
                                      <a class="dropdown-icon-item" href="#">
                                          <img src="/app/images/live.jpeg" alt="Live">
                                          <span>Go Live</span>
                                      </a>
                                  </div>
                                  <div class="col">
                                      <a class="dropdown-icon-item" href="#">
                                          <img src="app/images/popular.jpeg" alt="Popular">
                                          <span>Popular</span>
                                      </a>
                                  </div>
                                  <div class="col">
                                      <a class="dropdown-icon-item" href="#">
                                          <img src="app/images/trending.jpeg" alt="Trending">
                                          <span>Trending</span>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="dropdown d-inline-block">
                      <button type="button" class="btn header-item noti-icon waves-effect"
                          id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="bx bx-bell bx-tada"></i>
                          <span class="badge bg-danger rounded-pill">3</span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                          aria-labelledby="page-header-notifications-dropdown">
                          <div class="p-3">
                              <div class="row align-items-center">
                                  <div class="col">
                                      <h6 class="m-0" key="t-notifications"> Notifications </h6>
                                  </div>
                                  <div class="col-auto">
                                      <a href="#!" class="small" key="t-view-all"> View All</a>
                                  </div>
                              </div>
                          </div>
                          <div data-simplebar style="max-height: 230px;">
                              <a href="javascript: void(0);" class="text-reset notification-item">
                                  <div class="d-flex">
                                      <div class="avatar-xs me-3">
                                          <span class="avatar-title bg-primary rounded-circle font-size-16">
                                              <i class="bx bx-cart"></i>
                                          </span>
                                      </div>
                                      <div class="flex-grow-1">
                                          <h6 class="mb-1" key="t-your-order">Your order is placed</h6>
                                          <div class="font-size-12 text-muted">
                                              <p class="mb-1" key="t-grammer">If several languages coalesce the
                                                  grammar</p>
                                              <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span
                                                      key="t-min-ago">3 min ago</span></p>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a href="javascript: void(0);" class="text-reset notification-item">
                                  <div class="d-flex">
                                      <img src="assets/images/users/avatar-3.jpg"
                                          class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                      <div class="flex-grow-1">
                                          <h6 class="mb-1">James Lemire</h6>
                                          <div class="font-size-12 text-muted">
                                              <p class="mb-1" key="t-simplified">It will seem like simplified English.
                                              </p>
                                              <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span
                                                      key="t-hours-ago">1 hours ago</span></p>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                              <a href="javascript: void(0);" class="text-reset notification-item">
                                  <div class="d-flex">
                                      <div class="avatar-xs me-3">
                                          <span class="avatar-title bg-success rounded-circle font-size-16">
                                              <i class="bx bx-badge-check"></i>
                                          </span>
                                      </div>
                                      <div class="flex-grow-1">
                                          <h6 class="mb-1" key="t-shipped">Your item is shipped</h6>
                                          <div class="font-size-12 text-muted">
                                              <p class="mb-1" key="t-grammer">If several languages coalesce the
                                                  grammar</p>
                                              <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span
                                                      key="t-min-ago">3 min ago</span></p>
                                          </div>
                                      </div>
                                  </div>
                              </a>

                              <a href="javascript: void(0);" class="text-reset notification-item">
                                  <div class="d-flex">
                                      <img src="assets/images/users/avatar-4.jpg"
                                          class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                      <div class="flex-grow-1">
                                          <h6 class="mb-1">Salena Layfield</h6>
                                          <div class="font-size-12 text-muted">
                                              <p class="mb-1" key="t-occidental">As a skeptical Cambridge friend of
                                                  mine occidental.</p>
                                              <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span
                                                      key="t-hours-ago">1 hours ago</span></p>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="p-2 border-top d-grid">
                              <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                  <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">View
                                      More..</span>
                              </a>
                          </div>
                      </div>
                  </div>

                  <div class="dropdown d-inline-block">
                      <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="rounded-circle header-profile-user" src="app/images/users/avatar-1.jpg"
                              alt="Header Avatar">
                          <span class="d-none d-xl-inline-block ms-1" key="t-henry">{{creator.username}}</span>
                          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                          <!-- item-->
                          <a class="dropdown-item" href="/creator-dashboard"><i
                                  class="bx bx-bell bx-tada font-size-16 align-middle me-1"></i> <span
                                  key="t-lock-screen">Explore</span></a>
                          <a class="dropdown-item" href="#"><i
                                  class="bx bx-bell bx-tada font-size-16 align-middle me-1"></i> <span
                                  key="t-lock-screen">Notification</span></a>
                          <a class="dropdown-item" href="/profile-creator"><i
                                  class="bx bx-user font-size-16 align-middle me-1"></i> <span
                                  key="t-profile">Profile</span></a>
                          <a class="dropdown-item" href="/wallet-creator"><i
                                  class="bx bx-wallet font-size-16 align-middle me-1"></i> <span key="t-my-wallet">My
                                  Wallet</span></a>

                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item text-danger" href="#"><i
                                  class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                                  key="t-logout">Logout</span></a>
                      </div>
                  </div>

              </div>
          </div>
      </header>

        
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

          <div data-simplebar class="h-100">

              <!--- Sidemenu -->
              <div id="sidebar-menu">
                  <!-- Left Menu Start -->
                  <ul class="metismenu list-unstyled" id="side-menu">
                      <li class="menu-title" key="t-menu">Menu</li>

                      <li>
                          <a href="/creator-dashboard" class="waves-effect">
                              <i class="bx bx-home-circle"></i>
                              <span key="t-dashboard">Dashboard</span>
                          </a>

                      </li>

                      <li>
                          <a href="/profile-creator" class="waves-effect">
                              <i class="bx bx-user-circle"></i>
                              <span key="t-profile">Profile</span>
                          </a>
                      </li>

                      <li>
                          <a href="/chats" class="waves-effect">
                              <i class="bx bx-chat"></i><span class="badge rounded-pill bg-info float-end">04</span>
                              <span key="t-chat">Chat</span>
                          </a>
                      </li>



                      <li class="menu-title" key="t-apps">NairoLive</li>

                      <li>
                          <a href="/live" class="waves-effect">
                              <i class="bx bx-aperture"></i>
                              <span class="badge rounded-pill bg-danger float-end" key="t-new">Live</span>
                              <span key="t-file-manager">Go Live</span>
                          </a>
                      </li>

                      <li>
                          <a href="/trending" class="waves-effect">
                              <i class="bx bx-trending-up"></i>
                              <span class="badge rounded-pill bg-warning float-end">04</span>
                              <span key="t-file-manager">Trending</span>
                          </a>
                      </li>

                      <li>
                          <a href="/popular" class="waves-effect">
                              <i class="bx bx-like"></i>
                              <span class="badge rounded-pill bg-success float-end" key="t-new">New</span>
                              <span key="t-file-manager">Popular</span>
                          </a>
                      </li>

                      <li>
                          <a href="/subscribers" class="waves-effect">
                              <i class="bx  bxs-user-detail"></i>
                              <span class="badge rounded-pill bg-info float-end">400</span>
                              <span key="t-file-subscribers">My Subscribers</span>
                          </a>
                      </li>

                      <li class="menu-title" key="t-apps">Finances</li>

                      <li>
                          <a href="/wallet-creator" class="waves-effect">
                              <i class="bx bx-briefcase-alt-2"></i>
                              <span key="t-file-manager">Wallet</span>
                          </a>
                      </li>

                      <li>
                          <a href="/withdraw-creator" class="waves-effect">
                              <i class="bx bx-like"></i>
                              <span key="t-file-manager">Withdrawals</span>
                          </a>
                      </li>


                      <li class="menu-title" key="t-apps"></li>




                      <li>
                          <a href="javascript: void(0);" class="waves-effect">
                              <i class="bx bx-share-alt"></i>
                              <span key="t-multi-level">Share</span>
                          </a>

                      </li>

                      <li>
                          <a href="javascript: void(0);" class="waves-effect">
                              <i class="bx bx-power-off"></i>
                              <span key="t-multi-level">Logout</span>
                          </a>

                      </li>

                  </ul>
              </div>
              <!-- Sidebar -->
          </div>
      </div>
      <!-- Left Sidebar End -->

          

          <!-- ============================================================== -->
          <!-- Start right Content here -->
          <!-- ============================================================== -->
          <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                  <h4 class="mb-sm-0 font-size-18">Saas</h4>

                                  <div class="page-title-right">
                                      <ol class="breadcrumb m-0">
                                          <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                                          <li class="breadcrumb-item active">Saas</li>
                                      </ol>
                                  </div>

                              </div>
                          </div>
                      </div>
                      <!-- end page title -->


                      <div class="row">
                          <div class="col-xl-8">
                              <div class="card">
                                  <div class="card-body">
                                      <div id="video-grid"></div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-xl-4">
                              <div class="card">
                                  <div class="card-body border-bottom">
                                      <div class="row">
                                          <div class="col-md-4 col-9">
                                              <h5 class="font-size-15 mb-1">Steven Franklin</h5>
                                              <p class="text-muted mb-0"><i class="mdi mdi-circle text-success align-middle me-1"></i> Active now</p>
                                          </div>
                                          <div class="col-md-8 col-3">
                                              <ul class="list-inline user-chat-nav text-end mb-0">
                                                  <li class="list-inline-item d-none d-sm-inline-block">
                                                      <div class="dropdown">
                                                          <button class="btn nav-btn" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              <i class="bx bx-search-alt-2"></i>
                                                          </button>
                                                          <div class="dropdown-menu dropdown-menu-end py-0 dropdown-menu-md">
                                                              <form class="p-3">
                                                                  <div class="form-group m-0">
                                                                      <div class="input-group">
                                                                          <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                                                          
                                                                          <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                                                      </div>
                                                                  </div>
                                                              </form>
                                                          </div>
                                                      </div>
                                                  </li>
                                                  <li class="list-inline-item  d-none d-sm-inline-block">
                                                      <div class="dropdown">
                                                          <button class="btn nav-btn" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              <i class="bx bx-cog"></i>
                                                          </button>
                                                          <div class="dropdown-menu dropdown-menu-end">
                                                              <a class="dropdown-item" href="#">View Profile</a>
                                                              <a class="dropdown-item" href="#">Clear chat</a>
                                                              <a class="dropdown-item" href="#">Muted</a>
                                                              <a class="dropdown-item" href="#">Delete</a>
                                                          </div>
                                                      </div>
                                                  </li>
  
                                                  <li class="list-inline-item">
                                                      <div class="dropdown">
                                                          <button class="btn nav-btn" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              <i class="bx bx-dots-horizontal-rounded"></i>
                                                          </button>
                                                          <div class="dropdown-menu dropdown-menu-end">
                                                              <a class="dropdown-item" href="#">Action</a>
                                                              <a class="dropdown-item" href="#">Another action</a>
                                                              <a class="dropdown-item" href="#">Something else</a>
                                                          </div>
                                                      </div>
                                                  </li>
                                                  
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="card-body pb-0">
                                      <div>
                                          <div class="chat-conversation">
                                              <ul class="list-unstyled" data-simplebar style="max-height: 260px;">
                                                  <li> 
                                                      <div class="chat-day-title">
                                                          <span class="title">Today</span>
                                                      </div>
                                                  </li>
                                                  <li>
                                                      <div class="conversation-list">
                                                          <div class="dropdown">
      
                                                              <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                  <i class="bx bx-dots-vertical-rounded"></i>
                                                                </a>
                                                              <div class="dropdown-menu">
                                                                  <a class="dropdown-item" href="#">Copy</a>
                                                                  <a class="dropdown-item" href="#">Save</a>
                                                                  <a class="dropdown-item" href="#">Forward</a>
                                                                  <a class="dropdown-item" href="#">Delete</a>
                                                              </div>
                                                          </div>
                                                          <div class="ctext-wrap">
                                                              <div class="conversation-name">Steven Franklin</div>
                                                              <p>
                                                                  Hello!
                                                              </p>
                                                              <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:00</p>
                                                          </div>
                                                          
                                                      </div>
                                                  </li>
      
                                                  <li class="right">
                                                      <div class="conversation-list">
                                                          <div class="dropdown">
      
                                                              <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                  <i class="bx bx-dots-vertical-rounded"></i>
                                                                </a>
                                                              <div class="dropdown-menu">
                                                                  <a class="dropdown-item" href="#">Copy</a>
                                                                  <a class="dropdown-item" href="#">Save</a>
                                                                  <a class="dropdown-item" href="#">Forward</a>
                                                                  <a class="dropdown-item" href="#">Delete</a>
                                                              </div>
                                                          </div>
                                                          <div class="ctext-wrap">
                                                              <div class="conversation-name">Henry Wells</div>
                                                              <p>
                                                                  Hi, How are you? What about our next meeting?
                                                              </p>
      
                                                              <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:02</p>
                                                          </div>
                                                      </div>
                                                  </li>
      
                                                  <li>
                                                      <div class="conversation-list">
                                                          <div class="dropdown">
      
                                                              <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                  <i class="bx bx-dots-vertical-rounded"></i>
                                                                </a>
                                                              <div class="dropdown-menu">
                                                                  <a class="dropdown-item" href="#">Copy</a>
                                                                  <a class="dropdown-item" href="#">Save</a>
                                                                  <a class="dropdown-item" href="#">Forward</a>
                                                                  <a class="dropdown-item" href="#">Delete</a>
                                                              </div>
                                                          </div>
                                                          <div class="ctext-wrap">
                                                              <div class="conversation-name">Steven Franklin</div>
                                                              <p>
                                                                  Yeah everything is fine
                                                              </p>
                                                              
                                                              <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:06</p>
                                                          </div>
                                                          
                                                      </div>
                                                  </li>
      
                                                  <li class="last-chat">
                                                      <div class="conversation-list">
                                                          <div class="dropdown">
      
                                                              <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                  <i class="bx bx-dots-vertical-rounded"></i>
                                                                </a>
                                                              <div class="dropdown-menu">
                                                                  <a class="dropdown-item" href="#">Copy</a>
                                                                  <a class="dropdown-item" href="#">Save</a>
                                                                  <a class="dropdown-item" href="#">Forward</a>
                                                                  <a class="dropdown-item" href="#">Delete</a>
                                                              </div>
                                                          </div>
                                                          <div class="ctext-wrap">
                                                              <div class="conversation-name">Steven Franklin</div>
                                                              <p>& Next meeting tomorrow 10.00AM</p>
                                                              <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:06</p>
                                                          </div>
                                                          
                                                      </div>
                                                  </li>
      
                                                  <li class="right">
                                                      <div class="conversation-list">
                                                          <div class="dropdown">
      
                                                              <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                  <i class="bx bx-dots-vertical-rounded"></i>
                                                                </a>
                                                              <div class="dropdown-menu">
                                                                  <a class="dropdown-item" href="#">Copy</a>
                                                                  <a class="dropdown-item" href="#">Save</a>
                                                                  <a class="dropdown-item" href="#">Forward</a>
                                                                  <a class="dropdown-item" href="#">Delete</a>
                                                              </div>
                                                          </div>
                                                          <div class="ctext-wrap">
                                                              <div class="conversation-name">Henry Wells</div>
                                                              <p>
                                                                  Wow that's great
                                                              </p>
      
                                                              <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:07</p>
                                                          </div>
                                                      </div>
                                                  </li>
                                                  
                                                  
                                              </ul>
                                          </div>
                                          
                                      </div>
                                  </div>

                                  <div class="p-3 chat-input-section">
                                      <div class="row">
                                          <div class="col">
                                              <div class="position-relative">
                                                  <input type="text" class="form-control rounded chat-input" placeholder="Enter Message...">
                                                  <div class="chat-input-links">
                                                      <ul class="list-inline mb-0">
                                                          <li class="list-inline-item"><a href="javascript: void(0);"><i class="mdi mdi-emoticon-happy-outline"></i></a></li>
                                                          <li class="list-inline-item"><a href="javascript: void(0);"><i class="mdi mdi-file-image-outline"></i></a></li>
                                                          <li class="list-inline-item"><a href="javascript: void(0);"><i class="mdi mdi-file-document-outline"></i></a></li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-auto">
                                              <button type="submit" class="btn btn-primary chat-send w-md waves-effect waves-light"><span class="d-none d-sm-inline-block me-2">Send</span> <i class="mdi mdi-send"></i></button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <!-- end row -->

                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->

              
              <footer class="footer">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-sm-6">
                              <script>document.write(new Date().getFullYear())</script> © Skote.
                          </div>
                          <div class="col-sm-6">
                              <div class="text-sm-end d-none d-sm-block">
                                  Design & Develop by Themesbrand
                              </div>
                          </div>
                      </div>
                  </div>
              </footer>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- Right bar overlay-->
      <div class="rightbar-overlay"></div>

      <!-- JAVASCRIPT -->
      <script src="assets/libs/jquery/jquery.min.js"></script>
      <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="assets/libs/simplebar/simplebar.min.js"></script>
      <script src="assets/libs/node-waves/waves.min.js"></script>

      <!-- apexcharts -->
      <script src="assets/libs/apexcharts/apexcharts.min.js"></script>
      
      <!-- Saas dashboard init -->
      <script src="assets/js/pages/saas-dashboard.init.js"></script>

      <script src="assets/js/app.js"></script>

  </body>
</html>