
                                      <!DOCTYPE html>
                                      <html lang="en">
                                      <head>
                                        <%- include('./partials/head'); %>
                                      </head>
                                      
                                      
                                      <body data-sidebar="dark">
                                        <%- include('./partials/top'); %>
                                        <div id="video-grid"></div>
                                        <%- include('./partials/footer'); %>
                                      </body>
                                     
                                    
                                   
                                      </html>